<!DOCTYPE html>
<html>
<head>
</head>
<body >
<h2>Hello World!</h2>

<form action="/blockchain/form">
    <input name="student.name" value="Kate" /><br>
    <input name="type" value="自费" /><br>
    <input type="submit" value="提交">
</form>
</body>

</html>